.DS_Store
node_modules
/dist
/coverage
/test-reports
/licenses
/licenses.txt

# local env files
.env.local
.env.*.local

# Log files
/logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.idea
*.iws
*.iml
*.ipr
/out/
