fullnameOverride: gateway

image:
  pullPolicy: Always

habitUri: http://habit.hc-habit.svc.cluster.local:8080
trackUri: http://track.hc-track.svc.cluster.local:8080
uiUri: http://ui.hc-ui.svc.cluster.local

{{- if eq .Environment.Name "istio" }}
ingress:
  enabled: false
{{- else }}
ingress:
  enabled: true
{{- end }}