controller:
  replicaCount: 1
kraft:
  # generated with: uuidgen | tr -d '-' | base64 | cut -b 1-22
  clusterId: "ZDQ2MzI3MWEwNmIwNGMyMT"
sasl:
  interbroker:
    password: "kafka"
  controller:
    password: "kafka"
  client:
    users:
      - "track"
    passwords:
      - "track"
