bases:
  - environments.yaml

repositories:
  - name: codecentric
    url: https://codecentric.github.io/helm-charts
  - name: incubator
    url: https://charts.helm.sh/incubator
  - name: bitnami-archive-full-index
    url: https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami

releases:
  - name: keycloak-postgresql
    namespace: hc-keycloak
    labels:
      service: keycloak
    chart: bitnami-archive-full-index/postgresql
    version: 11.9.13
    values:
      - ./values/keycloak-postgresql-values.yaml.gotmpl
  - name: keycloak-realm-config
    namespace: hc-keycloak
    chart: incubator/raw
    values:
      - resources:
          - apiVersion: v1
            kind: Secret
            metadata:
              name: keycloak-realm
            stringData:
              realm.json: |
                {{- readFile "../../keycloak/realm.json" | nindent 16 }}

  - name: keycloak
    namespace: hc-keycloak
    labels:
      service: keycloak
    chart: codecentric/keycloakx
    version: 1.7.0
    values:
      - ./values/keycloak-values.yaml.gotmpl
