requests~=2.24.0
kubernetes~=11.0.0
oauthlib~=3.1.0
locust~=1.0.3
six~=1.15.0
websocket-client~=0.57.0
pip~=20.1.1
rsa~=4.6
pyasn1~=0.4.8
pyzmq~=19.0.1
gevent~=20.6.2
PyYAML~=5.3.1
Jinja2~=2.11.2
Werkzeug~=1.0.1
itsdangerous~=1.1.0
click~=7.1.2
greenlet~=0.4.16
psutil~=5.7.2
cachetools~=4.1.1
certifi~=2020.6.20
urllib3~=1.25.10
MarkupSafe~=1.1.1
msgpack~=1.0.0
Flask~=1.1.2
geventhttpclient~=1.4.4
ConfigArgParse~=1.2.3
chardet~=3.0.4
python-dateutil~=2.8.1
idna~=2.10
setuptools~=47.3.2