pip~=20.1.1
pyzmq~=19.0.1
gevent~=20.6.2
Jinja2~=2.11.2
Werkzeug~=1.0.1
itsdangerous~=1.1.0
click~=7.1.2
greenlet~=0.4.16
psutil~=5.7.0
MarkupSafe~=1.1.1
msgpack~=1.0.0
locust~=1.0.3
requests~=2.24.0
Flask~=1.1.2
geventhttpclient~=1.4.2
ConfigArgParse~=1.2.3
certifi~=2020.6.20
chardet~=3.0.4
idna~=2.9
urllib3~=1.25.9
setuptools~=47.3.1
six~=1.15.0